<div class="app">
    <navbar></navbar>
    <router-outlet></router-outlet>
    <hr>
    <div style="margin-top: 10px;">
        <mat-grid-list cols="4" rowHeight="200px">
            <mat-grid-tile>
                <mat-card class="col-md" style="width: 100%; justify-content: center; display: flex;">
                    <h4>A propos</h4>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                    </mat-list>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="col-md" style="width: 100%; justify-content: center; display: flex;">
                    <h4>Communauté</h4>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                    </mat-list>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="col-md" style="width: 100%; justify-content: center; display: flex;">
                    <h4>Hôte</h4>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                    </mat-list>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="col-md" style="width: 100%; justify-content: center; display: flex;">
                    <h4>Assistance</h4>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                    </mat-list>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>