<div class="example-container">

    <div class="title"> {{advName}}</div>

    <div *ngFor="let reserve of listReserves; let i = index;">

        <div class="annoucement">
            <img src="/assets/images/image 3.png" class="annoucement-image" alt="">
            <div class="annoucement-presentation">

                <p class="annoucement-presentation-under">Du {{ reserve.res_date_start_formated }} au
                    {{reserve.res_date_end_formated}} </p>
                <p class="annoucement-presentation-under">Pour : {{reserve.res_adv_tenants}} personnes</p>
                <p class="annoucement-presentation-under">Prix de la journée : {{reserve.res_adv_price}} €
                </p>
                <p class="annoucement-presentation-under">Mail demandeur : {{reserve.res_usr_mail}}
                </p>
                <div><button mat-raised-button routerLink="/detail/{{reserve.res_adv_id}}">Voir
                        l'annonce</button><button mat-raised-button routerLink="/detail/{{advert.adv_id}}"><span
                            style="color: red;">Annuler la réservation</span> </button></div>
            </div>


        </div>
        <hr class="annoucement-hr">
    </div>

    <div class="noResult" *ngIf="noReserves"> Aucune Réservations pour cette annonce </div>

</div>