<div class="containerAnnouncement">
    <div style="display: flex;">
        <mat-icon>undo</mat-icon>
        <p class="back">
            Retour
        </p>
    </div>

    <div style="width: 100%; display: flex; flex-direction: column;">

        <img src="/assets/images/image 3.png" class="annoucement-image" alt="">

        <div>

            <button mat-raised-button class="bouton-announcement">Réserver</button>
        </div>

    </div>

    <div style="  display: flex;">
        <div style="margin:10px;">
            <p class="annoucement-presentation">Titre de l'annonce {{id}} </p>

            <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, itaque
                reprehenderit! Atque
                quibusdam
                ipsa aut culpa, praesentium nostrum fugiat quasi veniam possimus accusantium odit aperiam ducimus cumque
                exercitationem, id distinctio.</p>
        </div>
    </div>


</div>