<div class="example-container">


    <div *ngFor="let reserve of listReserves; let i = index;">

        <div class="annoucement">
            <img src="/assets/images/image 3.png" class="annoucement-image" alt="">
            <div class="annoucement-presentation">
                <p class="annoucement-title">{{reserve.res_adv_name}} </p>
                <p class="annoucement-presentation-under">Du {{ reserve.res_date_start_formated }} au
                    {{reserve.res_date_end_formated}} </p>
                <p class="annoucement-presentation-under">Pour : {{reserve.res_adv_tenants}} personnes</p>
                <p class="annoucement-presentation-under">Prix : {{reserve.res_adv_price}} €/ jour</p>
            </div>
        </div>
        <div class="action-btn">
                <button mat-raised-button routerLink="/detail/{{reserve.res_adv_id}}">Voir
                    l'annonce
                </button>
                <button mat-raised-button *ngIf="!reserve.res_del_tenant"
                        (click)="deleteReserve(i)"><span style="color: red;">Annuler ma réservation</span></button>
                <div *ngIf="reserve.res_del_owner" class="alertDelete">Le propriétaire souhaite annuler la
                    réservation
                </div>
                <div *ngIf="reserve.res_del_tenant" class="alertDelete">Vous souhaitez annuler la
                    réservation
                </div>
            </div>
        <hr class="annoucement-hr">
    </div>

    <div class="noResult" *ngIf="noReserves"> Aucune Réservation</div>

</div>
