@font-face {
    font-family: "gothic_sans_ms";
    src: url("/assets/Police_Ecriture/GOTHIC.TTF");
}
@font-face {
    font-family: "gothic_bold";
    src: url("/assets/Police_Ecriture/GOTHICB.TTF");
}

.example-form-field {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.example-container {
    vertical-align: middle;
    margin: auto;
    margin-top: 10%;
    width: 100vh;
    height: 60vh;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.title {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "gothic_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.annoucement-image {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.advertTitle {
    font-family: "gothic_bold";
    font-size: 20px;
    padding: 10px;
}
.price {
    font-family: "gothic_sans_ms";
    font-size: 15px;
    padding: 10px;
}

.submit {
    background-color: #339e33;
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.description {
    font-family: "gothic_sans_ms";
    padding: 10px;
}

::ng-deep .mat-calendar-body-selected {
    background-color: #339e33;
    color: #fff;
}
::ng-deep .mat-datepicker-toggle {
    color: #339e33;
}

::ng-deep datepicker-value-example .mat-form-field-label {
    color: #339e33;
}
