@font-face {
    font-family: "gothic_sans_ms";
    src: url("/assets/Police_Ecriture/GOTHIC.TTF");
}
@font-face {
    font-family: "gothic_bold";
    src: url("/assets/Police_Ecriture/GOTHICB.TTF");
}
.example-container {
    background-color: white;
    min-height: 100vh;
    height: fit-content;
    padding-top: 30px;
}

.title {
    text-align: center;
    font-family: "gothic_sans_ms";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;

    color: #000000;
}
.search-field-group {
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    display: flex;
}
.search-field {
    width: 60%;

    border-radius: 20%;
}

.annoucement {
    margin-top: 50px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.annoucement-presentation {
    line-height: 43px;
    margin-left: 20px;

    font-family: "gothic_sans_ms";
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
}

.annoucement-presentation-under {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    /* identical to box height */

    /* Gris clair */

    color: #7d7d7d;
}
.annoucement-image {
    width: 200px;
    height: 200px;
}

.annoucement-hr {
    margin-top: 50px;
    width: 80vw;
    height: 0px;
    left: 100px;

    /* Gris clair */
    background-color: #7d7d7d;
    border: 2px solid #7d7d7d;
}
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
}
::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}
