<div class="example-container">
    <div class="title">Rechercher un logement</div>
    <div>
        <div class="form-group search-field-group" style="display: flex; flex-direction: row">
            <mat-form-field class="search-field" appearance="fill">
                <mat-label>Recherche</mat-label>
                <input matInput>
            </mat-form-field>
            <button mat-raised-button class="search-btn">
                Rechercher
            </button>
            <div class="dropdown" [formGroup]="CriteriaForm">
                <span style="margin: auto">Critères</span>
                <div class="dropdown-content" formControlName="dispo">
                    <div *ngFor="let criteria of listCriterias; let i = index;">
                        <mat-label>{{criteria.cri_name}}</mat-label>
                        <mat-slide-toggle (change)="onChange($event, criteria.cri_id)"></mat-slide-toggle>
                    </div>
                    <button mat-raised-button style="background-color: #339e33; color: white; margin-top: 20px;"
                            (click)="onSubmit()">
                        Valider
                    </button>
                </div>
            </div>
            <button *ngIf="this.statusUser.isAuth" mat-raised-button routerLink="/NewAdvert" class="addAdvert-btn">
                Déposer une
                annonce
            </button>
        </div>
    </div>
<!--    <button *ngIf="this.statusUser.isAuth" mat-raised-button routerLink="/NewAdvert" class="addAdvertbtn">Déposer une-->
<!--        annonce-->
<!--    </button>-->


    <div *ngFor="let advert of listAdverts; let i = index;">

        <div *ngIf="advert.adv_up" class="annoucement" routerLink="/detail/{{advert.adv_id}}">
            <img src="/assets/images/image 3.png" class="annoucement-image" alt="">
            <div class="annoucement-presentation">
                <p class="annoucement-title">{{advert.adv_name}} <span *ngIf="advert.adv_up" class="top-annoucement"> à la une</span>
                </p>
                <p class="annoucement-presentation-under">{{advert.adv_adress}}, {{advert.adv_city}} </p>
                <p class="annoucement-presentation-under">Prix : {{advert.adv_price}} €/ jour</p>


            </div>


        </div>
        <hr *ngIf="advert.adv_up" class="annoucement-hr">
    </div>
    <div *ngFor="let advert of listAdverts; let i = index;">

        <div *ngIf="!advert.adv_up" class="annoucement" routerLink="/detail/{{advert.adv_id}}">
            <img src="/assets/images/image 3.png" class="annoucement-image" alt="">
            <div class="annoucement-presentation">
                <p class="annoucement-title">{{advert.adv_name}} <span *ngIf="advert.adv_up" class="top-annoucement"> à la une</span>
                </p>
                <p class="annoucement-presentation-under">{{advert.adv_adress}}, {{advert.adv_city}} </p>
                <p class="annoucement-presentation-under">Prix : {{advert.adv_price}} €/ jour</p>
            </div>


        </div>
        <hr *ngIf="!advert.adv_up" class="annoucement-hr">
    </div>

</div>
