<mat-toolbar class="toolbar">

    <span style="cursor: pointer;" routerLink="/"> AtypikHouse</span>

    <span class="example-spacer"></span>
    <button mat-button routerLink="/" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Accueil
    </button>
    <button mat-button routerLink="/search" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Recherche
    </button>


    <button *ngIf="!this.statusUser.isAuth" mat-button routerLink="/connection" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        se connecter
    </button>
    <button *ngIf="!this.statusUser.isAuth" mat-raised-button routerLink="/register" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        S'inscrire
    </button>

    <button *ngIf="this.statusUser.isAuth" mat-raised-button class="example-icon favorite-icon"
        (click)="disconnect()">Déconnection</button>

</mat-toolbar>