<mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/"> AtypikHouse</span>

    <span class="example-spacer"></span>
    <button mat-button routerLink="/connexion" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Acceuil
    </button>
    <button mat-button routerLink="/connexion" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Recherche
    </button>
    <button mat-button routerLink="/connexion" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Carte
    </button>
    <button mat-button routerLink="/connexion" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Sign Up
    </button>

</mat-toolbar>