a {
    text-decoration: none;
    color: white !important;
}

a:hover, a:active {
    color: lightgray;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.cdk-overlay-connected-position-bounding-box {
    display: flex;
    flex-direction: column;
    background-color: #c4c4c4;
    margin-left: 4vw;
}
