<div class="example-container">



    <div *ngFor="let advert of listAdverts; let i = index;">

        <div class="annoucement">
            <img src="/assets/images/image 3.png" class="annoucement-image" alt="">
            <div class="annoucement-presentation">
                <p>{{advert.adv_name}} </p>
                <p class="annoucement-presentation-under">{{advert.adv_adress}}, {{advert.adv_city}} </p>
                <p class="annoucement-presentation-under">Prix de la journée : {{advert.adv_price}} €</p>
                <div>
                    <button mat-raised-button routerLink="/detail/{{advert.adv_id}}">Editer l'annonce</button>
                    <button mat-raised-button routerLink="/detail/{{advert.adv_id}}">Reservations</button>
                    <button mat-raised-button routerLink="/detail/{{advert.adv_id}}"><span
                            style="color: red;">Supprimer</span> </button>
                </div>
            </div>


        </div>
        <hr *ngIf="!advert.adv_up" class="annoucement-hr">
    </div>

    <div class="noResult" *ngIf="noAdverts"> Aucune annonce </div>

</div>